In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("notebook")
#sns.set_context("poster")

![text](pandas.jpg)

<h1>Create</h1>

In [2]:
# Wikipedia 2017 - entry "Economy of Europe"
# Creation of a Data Frame using a Dictionnary 
#
eu_metro_areas=pd.DataFrame({"City": ["London","Paris","Moscow","Madrid","Barcelona",
                                      "Rome","Milan","Vienna","Lisbon","Athens","Berlin","Bucharest"],
                             "Rank": [1,2,3,4,5,6,7,8,9,10,11,12],
                             "GDP" : [732,669,520,230,177,144,136,122,98,96,95,51],
                             "Population": [11.9,11.5,11.5,5.8,4.97,4.34,3.2,2.18,2.44,4.01,4.97,2.3],
                             "GDP per Capita": [61.5,62.4,45.2,39.7,35.6,41.6,44.2,56.0,40.2,23.9,19.1,23.3],
                             "Eurozone": ["N","Y","N","Y","Y","Y","Y","Y","Y","Y","Y","N"]})

In [3]:
eu_metro_areas

         City  Rank  GDP  Population  GDP per Capita Eurozone
0      London     1  732       11.90            61.5        N
1       Paris     2  669       11.50            62.4        Y
2      Moscow     3  520       11.50            45.2        N
3      Madrid     4  230        5.80            39.7        Y
4   Barcelona     5  177        4.97            35.6        Y
5        Rome     6  144        4.34            41.6        Y
6       Milan     7  136        3.20            44.2        Y
7      Vienna     8  122        2.18            56.0        Y
8      Lisbon     9   98        2.44            40.2        Y
9      Athens    10   96        4.01            23.9        Y
10     Berlin    11   95        4.97            19.1        Y
11  Bucharest    12   51        2.30            23.3        N

In [4]:
#Creation of a Data Frame using lists 
#
eu_metro_areas1=pd.DataFrame([["London",1,732,11.9,61.5,"N"],
                              ["Paris",2,669,11.5,62.4,"Y"],
                              ["Moscow",3,520,11.5,62.4,"Y"],
                              ["Madrid",4,230,5.8,39.7,"Y"],
                              ["Barcelona",5,177,4.97,35.6,"Y"],
                              ["Rome",6,144,4.34,41.6,"Y"],
                              ["Milan",7,136,3.2,44.2,"Y"],
                              ["Vienna",8,122,2.18,56.0,"Y"],
                              ["Lisbon",9,98,2.44,40.2,"Y"],
                              ["Athens",10,96,4.01,23.9,"Y"],
                              ["Berlin",11,95,4.97,19.1,"Y"],
                              ["Bucharest",12,51,2.3,23.3,"N"]],
                              columns=["City","Rank","GDP","Population","GDP per Capita","Eurozone"])
eu_metro_areas1

         City  Rank  GDP  Population  GDP per Capita Eurozone
0      London     1  732       11.90            61.5        N
1       Paris     2  669       11.50            62.4        Y
2      Moscow     3  520       11.50            62.4        Y
3      Madrid     4  230        5.80            39.7        Y
4   Barcelona     5  177        4.97            35.6        Y
5        Rome     6  144        4.34            41.6        Y
6       Milan     7  136        3.20            44.2        Y
7      Vienna     8  122        2.18            56.0        Y
8      Lisbon     9   98        2.44            40.2        Y
9      Athens    10   96        4.01            23.9        Y
10     Berlin    11   95        4.97            19.1        Y
11  Bucharest    12   51        2.30            23.3        N

# Import

In [5]:
#Import from a csv file
#
eu_metro_areas3=pd.read_csv("eu_metro_areas.csv",sep=";")
eu_metro_areas3

         City  Rank  GDP  Population  GDP per Capita Eurozone
0      London     1  732       11.90            61.5        N
1       Paris     2  669       11.50            62.4        Y
2      Moscow     3  520       11.50            45.2        N
3      Madrid     4  230        5.80            39.7        Y
4   Barcelona     5  177        4.97            35.6        Y
5        Rome     6  144        4.34            41.6        Y
6       Milan     7  136        3.20            44.2        Y
7      Vienna     8  122        2.18            56.0        Y
8      Lisbon     9   98        2.44            40.2        Y
9      Athens    10   96        4.01            23.9        Y
10     Berlin    11   95        4.97            19.1        Y
11  Bucharest    12   51        2.30            23.3        N

In [6]:
# Importing from an Excel file 
#
eu_metro_areas4=pd.read_excel("eu_metro_areas.xlsx")
eu_metro_areas4

         City  Rank  GDP  Population  GDP per Capita Eurozone
0      London     1  732       11.90            61.5        N
1       Paris     2  669       11.50            62.4        Y
2      Moscow     3  520       11.50            45.2        N
3      Madrid     4  230        5.80            39.7        Y
4   Barcelona     5  177        4.97            35.6        Y
5        Rome     6  144        4.34            41.6        Y
6       Milan     7  136        3.20            44.2        Y
7      Vienna     8  122        2.18            56.0        Y
8      Lisbon     9   98        2.44            40.2        Y
9      Athens    10   96        4.01            23.9        Y
10     Berlin    11   95        4.97            19.1        Y
11  Bucharest    12   51        2.30            23.3        N

In [7]:
# Managing the data frame interactively
# ! pip install qgrid
# ! jupyter nbextension enable --py --sys-prefix qgrid
# ! jupyter nbextension enable --py --sys-prefix widgetsnbext3ension
#
# if you are using jupyterlab
# ! pip install jupyterlab
# ! jupyter labextension install @jupyter-widgets/jupyterlab-manager

# Install the qgrid-jupyterlab extension and enable:
# ! jupyter labextension install qgrid

# Requirements:
#   ipywidgets -> pip install ipywidgets (or pip install --upgrade ipywidgets)

import ipywidgets as widgets
import qgrid


#qgrid.show_grid(eu_metro_areas, show_toolbar=True)
qgrid_widget=qgrid.show_grid(eu_metro_areas)
qgrid_widget

# if you want to assign the result of a filtering or the changes
# your_new_df =qgrid_wodget.get_changed_df()

ModuleNotFoundError: No module named 'qgrid'

<b><font color="red" size=6>Mission 1</font>

a) Create two imaginary datasets. One with a dictionnary and the other
using lists

b) Import the Excel file VideoGameSales that you downloaded from the Moodle
</b>

In [ ]:
#1a.Create imaginary dataset with dictionary
imaginary1 = pd.DataFrame({"Name":["Petro","Maurice","Amanda","Racha"], "Last Name":["Malkoun","Lawandos", "Sfeir","Chamoun"], 
                           "Age":["25","24","22","23"]})
imaginary1

#Create imaginary dataset with lists
imaginary2 = pd.DataFrame([["BMW","Jeep","250"], ["Mercedes","Car","200"], 
                            ["Hyundai","Motorcycle","150"],["Kia","SUV","260"] ], columns=["Brand", "Type","Horsepower"])
imaginary2

In [ ]:
#1b.Import the Excel file VideoGameSales that you downloaded from the Moodle
VideoGames = pd.read_excel("VideoGamesSales.xlsx")
VideoGames.head()

In [ ]:
VideoGames.tail()

# Explore

In [ ]:
# Summary information of the dataframe
#
eu_metro_areas.info()

In [ ]:
# If you only want to know the dimmensions 
#
eu_metro_areas.shape

In [ ]:
# Examine first rows 
#
eu_metro_areas.head(5)

In [ ]:
# Examine last rows 
#
eu_metro_areas.tail(5)

In [ ]:
# Describe
#
eu_metro_areas.describe() #gives different stat values

In [ ]:
# ---- Functions ----
#   count()      Number or non null observations
#   sum()        Sum of values
#   mean()       Mean of values
#   median()     Arithmetic median of values
#   min()        Minimum
#   max()        Maximum
#   std()        Unbiased standard deviation
#   var()        Unbiased variance
#
eu_metro_areas.mean()
eu_metro_areas.mean(axis=1) #row wise - in this case has no sense
eu_metro_areas["GDP"].mean()              #bill gates joke
eu_metro_areas["GDP"].median()
eu_metro_areas["GDP"].std()*2
eu_metro_areas["GDP"].quantile(0.8)

In [ ]:
# If you want to know all about it ... 
# you have to install first pandas_profiling with 
# pip install pandas_profiling
# ! pip install pandas_profiling
import pandas_profiling

pandas_profiling.ProfileReport(eu_metro_areas)

# Select

In [ ]:
# Data selection

eu_metro_areas["GDP"]
eu_metro_areas[["GDP","Population"]]
eu_metro_areas[:5]

In [ ]:
# Filtering

# Metro areas with a population > 3M

eu_metro_areas[eu_metro_areas["Population"]>3]

eu_metro_areas[(eu_metro_areas["Population"]>5) & (eu_metro_areas["GDP"]>150)]

criteria=(eu_metro_areas["Population"]>6) & (eu_metro_areas["GDP"]>150)
eu_metro_areas[criteria]

eu_metro_areas[eu_metro_areas["Population"]>3].head() #or .tail()

# .isnull() is very interesting in pre-processing

In [ ]:
# Reversing rows
eu_metro_areas[::-1] # normally men7ot r:c:ade bede emche bas now : ya3ne kel chi

In [ ]:
# Reversing rows of a single column

eu_metro_areas["City"][::-1]

In [ ]:
# Reversing columns
eu_metro_areas[eu_metro_areas.columns[::-1]]

In [ ]:
# Filtering and presenting only some columns

eu_metro_areas[eu_metro_areas["Eurozone"]=="Y"][["City","Population"]]

<b><font color="red" size=6>Mission 2</font>

a) List all Nintendo Games published after 2010 for WIIU
<br>
b) List all Video Games with Global Sales larger than the average
<br>
c) List all Video Games with Global Sales larger than the average
with a User and Critic score also higher than the average

</b>

In [ ]:
#2a.List all Nintendo Games published after 2010 for WIIU
VideoGames = pd.read_excel("VideoGamesSales.xlsx")
# VideoGames.info()
twoa=VideoGames[(VideoGames['Year_of_Release']>2010) & (VideoGames['Publisher']=='Nintendo') 
                & (VideoGames['Platform']=='WiiU')]
twoa.head()

In [ ]:
#2b.List all Video Games with Global Sales larger than the average 
VideoGames = pd.read_excel("VideoGamesSales.xlsx")
# VideoGames.info()
VideoGames = VideoGames[pd.notnull(VideoGames['Global_Sales'])]
twob=VideoGames[VideoGames['Global_Sales'] > VideoGames.Global_Sales.mean()]
twob.head()

In [ ]:
#2c.List all Video Games with Global Sales larger than the average with a User and Critic score also higher than the average
VideoGames = pd.read_excel("VideoGamesSales.xlsx")
# VideoGames.info()
VideoGames.User_Score=pd.to_numeric(VideoGames.User_Score,errors='coerce')
VideoGames=VideoGames.replace('tbd',np.nan)
VideoGames.dropna(inplace=True)

twoc = VideoGames[(VideoGames['Global_Sales'] > VideoGames['Global_Sales'].mean()) 
                  & (VideoGames['User_Score'] > VideoGames['User_Score'].mean())
                  & (VideoGames['Critic_Score'] > VideoGames['Critic_Score'].mean())]
twoc.head()

# Data Manipulation & Cleaning

In [ ]:
# Manipulating data

eu_metro_areas["GDP"]/eu_metro_areas["Population"]
eu_metro_areas[["City","GDP per Capita"]]

In [ ]:
z=eu_metro_areas["Population"].apply(np.sqrt)
z
eu_metro_areas["Population"].apply(lambda d: d**2)
eu_metro_areas["High Population"]=eu_metro_areas["Population"].apply(lambda x: ("Yes" if x>=10 else "No"))
eu_metro_areas
eu_metro_areas["Population"]/100

In [ ]:
# we can also use full functions

eu_metro_areas.drop("High Population", axis=1, inplace=True)

def high_population(x):
    if x>=10:
        return "Yes"
    else:
        return "No"
    
eu_metro_areas["High Population"]=eu_metro_areas["Population"].apply(high_population) #hon hay l function
eu_metro_areas

In [ ]:
# encoding 
#hon we make a dictionary
z=eu_metro_areas.copy()

map_eurozone={"Y":1,"N":0}
map_highpopulation={"Yes":1,"No":0}

z["Eurozone"]=z["Eurozone"].map(map_eurozone)
z["High Population"]=z["High Population"].map(map_highpopulation)
z

In [ ]:
# Adding a new colum

eu_metro_areas["GDP Norm"]=eu_metro_areas["GDP"]/eu_metro_areas["GDP"].max()
eu_metro_areas

In [ ]:
# Dropping a column

eu_metro_areas.drop("GDP Norm", axis=1, inplace=True)
eu_metro_areas
# eu_metro.Eurozone.sum('N')
# help(sum)

In [ ]:
# Dropping a column

eu_metro_areas.drop("High Population", axis=1)
eu_metro_areas

In [ ]:
# Append a row --> it always mean at the end
# if we want the function to generate automatically chi hek al 
z=eu_metro_areas.append({"City": "Nowhere","Eurozone":"N","GDP":100,"GDP per Capita": 10,"Population":10,"Rank":13}, 
                     ignore_index = True)
z

In [ ]:
# Drop a row

# p=z[(z.City != 'Nowhere') & (z.GDP != 669)]
z.drop(12, axis=0, inplace = True)
z
# restore index order after dropping 

# p=p.reset_index(drop=True)
# p

In [ ]:
# Dropping null values

z=eu_metro_areas.append({"City": "Nowhere","Eurozone":"N","Rank":13}, 
                     ignore_index = True)
# if you don't use copy, you'll be referencing the same data frame
# a pointer and not a different data frame
z1=z.copy() 
z

z.dropna(inplace=True)
z

z1.dropna( subset=["GDP"], inplace=True)
z1

In [ ]:
# Imputing null values with the mean of the column
#fill the null values with the median or 0!! 
z=eu_metro_areas.append({"City": "Nowhere","Eurozone":"N","Rank":13}, 
                     ignore_index = True)
z
z["GDP"].fillna(z["GDP"].mean(), inplace=True)
z

In [ ]:
# Replacing weird characters replace

z.replace({"Nowhere":"A city"}, inplace=True)
z

In [ ]:
# Changing column names 

z.rename(columns={"GDP_per_Capita":"GDP/capita", "High Population":"Big"}, inplace=True)
z

In [ ]:
# Writing the result in a csv o Excell file 
# do that as a csv or excel and put a name; remember csv default is coma! that's the only difference
eu_metro_areas.to_csv('My_metro_areas.csv', sep=',')

eu_metro_areas.to_excel("My_metro_areas.xlsx")

# Sorting & Grouping

In [ ]:
# Sorting

eu_metro_areas.sort_values(by="Population", ascending = False)
eu_metro_areas.sort_values(by="City", ascending = True)
#eu chi katab ta ttla3

In [ ]:
eu_metro_areas.sort_values(by="Population", ascending = False, inplace=True)
eu_metro_areas
# adjust the index!! so we re aranged the table
eu_metro_areas.sort_index(axis=0, ascending=True, inplace=True)
eu_metro_areas

In [ ]:
# Grouping
#1 or several columns
eu_metro_areas[["Eurozone", "GDP","Population"]].groupby(["Eurozone"]).sum()
eu_metro_areas[["Eurozone", "GDP","Population"]].groupby(["Eurozone"]).mean()

<b><font color="red" size=6>Mission 3</font>

a) Short the names of Publishers (ex. "Warner Bros. Interactive Entertainment" by "Warner Bros" )
<br>
b) List the sales of Nintendo Games grouped by year
<br>
c) List sales grouped by Publisher and year
<br>
d) List the top 10 publishers of the last 5 years ordered by sales
<br>
</b>

In [ ]:
#3a.Short the names of Publishers (ex. "Warner Bros. Interactive Entertainment" by "Warner Bros" )
VideoGames = pd.read_excel("VideoGamesSales.xlsx")
VideoGames['Publisher'].replace('', np.nan, inplace=True)
VideoGames.dropna(inplace=True)

VideoGames['Publisher']=VideoGames.Publisher.apply(lambda x: '' if 'Entertainment' in x else x)
VideoGames['Publisher']=VideoGames.Publisher.apply(lambda x: '' if 'Interactive' in x else x)
VideoGames['Publisher']=VideoGames.Publisher.apply(lambda x: '' if 'Corporation' in x else x)
VideoGames['Publisher']=VideoGames.Publisher.apply(lambda x: '' if 'Software' in x else x)
VideoGames['Publisher']=VideoGames.Publisher.apply(lambda x: '' if 'Studios' in x else x)

VideoGames.Publisher.value_counts()

In [ ]:
#3b.List the sales of Nintendo Games grouped by year 
threeb = VideoGames[VideoGames['Publisher']=='Nintendo']
threeb.groupby(by='Year_of_Release')[['Global_Sales','EU_Sales','JP_Sales',
                                      'Other_Sales','NA_Sales']].sum()

In [ ]:
#3c.List sales grouped by Publisher and year 
threec = VideoGames.groupby(by=['Publisher','Year_of_Release'])[['Global_Sales','EU_Sales','JP_Sales',
                                                                 'Other_Sales','NA_Sales']].sum()
threec.sort_values('Global_Sales',ascending=False)
# threec

In [ ]:
#3d.List the top 10 publishers of the last 5 years ordered by sales
fil1 = VideoGames.replace('tbd',np.nan)
fil1 = fil1.dropna(subset = ['User_Score'])
threed = VideoGames[VideoGames['Year_of_Release'] > fil1.Year_of_Release.max()-5]
threed = threed[['Publisher','Global_Sales']].groupby('Publisher').sum()
threed.sort_values(by='Global_Sales', ascending=False,inplace=True)
threed.head(10)

# Pivot Tables

![text](pivot-table-datasheet.png)

In [ ]:
# Pivot tables

eu_metro_areas.pivot_table(columns=["City"])

In [ ]:
# Pivot tables
# http://pbpython.com/pandas-pivot-table-explained.html

eu_metro_areas.pivot_table(index=["Eurozone", "City"], values=["Population","GDP"])

In [ ]:
eu_metro_areas.pivot_table(columns=["Eurozone"], values=["GDP"], aggfunc=np.sum)
eu_metro_areas.pivot_table(columns=["Eurozone"], values=["GDP"], aggfunc=np.mean)

In [ ]:
eu_metro_areas["Count"]=1
eu_metro_areas.head()
eu_metro_areas.pivot_table(columns=["Eurozone"], values=["Count"], aggfunc=np.sum)

<b><font color="red" size=6>Mission 4</font>

a) List the Publishers in the columns and the different sales in the rows
<br>
b) Count the number of game titles per publisher
<br>
c) Display Platform in columns and sales in rows
<br>
</b>

In [ ]:
#4a.List the Publishers in the columns and the different sales in the rows 
foura= VideoGames.pivot_table(columns='Publisher', values=['Global_Sales','EU_Sales', 'JP_Sales', 'Other_Sales','NA_Sales']
                       ,aggfunc=np.sum)
foura.sort_values(by=['3DO'],ascending=False)

In [ ]:
#4b.Count the number of game titles per publisher 
VideoGames["Game_Titles"]=1
fourb=VideoGames.pivot_table(columns=['Publisher'], values=['Game_Titles'], aggfunc=np.sum)
fourb

In [ ]:
#4c.Display Platform in columns and sales in rows 
fourc=VideoGames.pivot_table(columns= 'Platform', values = ['Global_Sales','EU_Sales',
                                                            'JP_Sales', 'Other_Sales','NA_Sales'], aggfunc=np.sum)
fourc.sort_values(by=['3DS'],ascending=False)

# Plots

In [ ]:
# distribution plots (petro: automatically finds w distribution)
eu_metro_areas=pd.read_excel("eu_metro_areas.xlsx")
sns.distplot(eu_metro_areas["GDP"])
plt.figure()
sns.distplot(eu_metro_areas["GDP"],bins=7,rug=True)  #hay bins ya3ne l tal3in men 
# tahet l lines!!  kel bin kam element 3ande!

In [ ]:
# Joint Plots
sns.jointplot(x="GDP",y="Population",data=eu_metro_areas, kind="reg")
sns.jointplot(x="GDP per Capita",y="Population",data=eu_metro_areas, kind="reg")

In [ ]:
# Pair plots
#each variable vs each variable and in the diagonal I do a distribution w stuff ta a3rif iza fi correlation
sns.pairplot(eu_metro_areas, kind="reg")
sns.pairplot(eu_metro_areas, kind="reg",diag_kind="kde") # kernel density estimation

In [ ]:
# Pair plots only with some variables

plt.figure(figsize=(10,10))

sns.pairplot(eu_metro_areas, x_vars=["GDP","Population"], y_vars=["GDP per Capita"], kind="reg", height=5)

<b><font color="red" size=6>Mission 5</font>

a) List sales (all) by year and by genre 
<br>
b) For the last 5 years, sales by platform and sales by publisher
<br>
c) We want to explore a relationship between sales (all) and critic & user scores.
<br>
</b>

In [ ]:
#5a.List sales (all) by year and by genre 

fivea = VideoGames.groupby(by=['Genre','Year_of_Release'])[['Global_Sales','EU_Sales','JP_Sales', 'Other_Sales','NA_Sales']].sum()
fivea

In [ ]:
#5b.For the last 5 years, sales by platform and sales by publisher 
fiveb = VideoGames[VideoGames['Year_of_Release'] >= VideoGames.Year_of_Release.max()-5]
fiveb = fiveb[['Platform','Publisher','Global_Sales','NA_Sales','EU_Sales',
               'Other_Sales','JP_Sales']].groupby(['Platform','Publisher']).sum()
fiveb

In [ ]:
#5c.We want to explore a relationship between sales (all) and critic & user scores. 
VideoGames['User_Score']=VideoGames['User_Score'].astype(float)
fig, axs = plt.subplots(3, 2)
axs[0, 0].scatter(VideoGames.User_Score, VideoGames.Global_Sales)
axs[0, 0].set_title('Global Sales vs User Score')
axs[0, 1].scatter(VideoGames.User_Score, VideoGames.NA_Sales)
axs[0, 1].set_title('NA Sales vs User Score')
axs[1, 0].scatter(VideoGames.User_Score, VideoGames.EU_Sales)
axs[1, 0].set_title('EU Sales vs User Score')
axs[1, 1].scatter(VideoGames.User_Score, VideoGames.Other_Sales)
axs[1, 1].set_title('Other Sales vs User Score')
axs[2,0].scatter(VideoGames.User_Score, VideoGames.JP_Sales)
axs[2, 0].set_title('JP Sales vs User Score')
fig, axs = plt.subplots(3, 2)
axs[0, 0].scatter(VideoGames.Critic_Score, VideoGames.Global_Sales)
axs[0, 0].set_title('Global Sales vs Critic Score')
axs[0, 1].scatter(VideoGames.Critic_Score, VideoGames.NA_Sales)
axs[0, 1].set_title('NA Sales vs Critic Score')
axs[1, 0].scatter(VideoGames.Critic_Score, VideoGames.EU_Sales)
axs[1, 0].set_title('EU Sales vs Critic Score')
axs[1, 1].scatter(VideoGames.Critic_Score, VideoGames.Other_Sales)
axs[1, 1].set_title('Other Sales vs Critic Score')
axs[2,0].scatter(VideoGames.Critic_Score, VideoGames.JP_Sales)
axs[2, 0].set_title('JP Sales vs Critic Score')

# Join & Merge

<img src="joins.jpg" width=900 >

In [ ]:
# joins are the basic tool for querying databases
# relational databases are in fact based in joins
# with Data Frames we can do exactly the same
# let's first have two hypothetical tables

df1 = pd.DataFrame({'name':['John', 'George','Ringo'],'color': ['Blue','Blue','Purple']})
df2 = pd.DataFrame({'name':['Paul','George','Ringo'],'carcolor':['Red','Blue',np.nan]},index=[3,1,2])
df1
df2

In [ ]:
# our first operation is not a join, 
# but a concatenation of the two tables
# by defalt concat preserves index values
pd.concat([df1,df2])

# but we can ignore them if we want
pd.concat([df1,df2], ignore_index=True)

# we can also concat by rows instead of columns
pd.concat([df1,df2],axis=1)

In [ ]:
d1=pd.DataFrame({'name':['A','B','B','C'],'size':[1,2,3,4]})

d2=pd.DataFrame({'name':['C','C','D','D'],'value':[10,9,8,7]},index=[3,1,2,4])

d1
d2

d1.merge(d2, on='name')                    # inner join
d1.merge(d2, how='outer', on='name')       #outer join
d1.merge(d2, how='left',  on='name')       #left join
d1.merge(d2, how='right', on='name')       # right join

In [ ]:
#You can also use SQL with pandasql
#
#!pip install pandasql
import pandasql

pandasql.sqldf("select * from eu_metro_areas;")

pandasql.sqldf("select * from eu_metro_areas where Eurozone='Y';")

<b><font color="red" size=6>Mission 6</font>

For this and the next mission we will use data from Kaggle
In concrete from the World University Rankings Competition
https://www.kaggle.com/mylesoneill/world-university-rankings
    
In this first mission with the rankings we will focus on the Times Ranking

a) Find the top 50 universities of the top 10 countries and see how do they compare. 
Are their rankings clustered? Are there very few good ones or there is a high dispersion. 
<br>
</b>

In [ ]:
# 6a. top 50 unis in top 10 countries

In [ ]:
import matplotlib
# matplotlib.use('GTK')
import matplotlib.pyplot as plt
# import matplotlib
# import matplotlib.plot as plt
# matplotlib.use('Tkinter')
tid = pd.read_csv("timesData.csv")
tid.head()

# tid.info()
tid['total_score']=pd.to_numeric(tid.total_score, errors='coerce')

#sorting by total score
tid=tid.sort_values(by='total_score',ascending=False)
tidnew=tid.pivot_table(index=["country", "university_name"], values=["total_score"]).reset_index().sort_values(by='total_score',ascending=False)
tidnew.head()
tidnew.replace({"United States of America":"USA"}, inplace=True)

#top 50 Universities
tid50=tidnew.head(50)

tid_count  = tid50['country'].value_counts()
tid_count

#top 10 countries
tid_count = tid_count[:10,]

plt.figure(figsize=(12,7))
sns.barplot(tid_count.index, tid_count.values,alpha=0.8)
plt.title('Distribution of the Top 50 Universities in the Top 10 countries', fontsize=16)
plt.ylabel('Number of Universities in Top 50', fontsize=14)
plt.xlabel('Country Name', fontsize=14)
fig.savefig('demo.png', bbox_inches='tight')
plt.show()
# plt.savefig('demo.png', bbox_inches='tight')

In [ ]:
#The top 50 Universities are clustered in the USA: most of the top Universities are located there
# We can also identify a small concentration of data in the UK but in the other countries it is a very low distribution

<b><font color="red" size=6>Mission 7</font>

In this last mission we will compare two rankings: Shangai and Times. 
The objective is to find out how well they correlate per country and globally. 
We will use a sample and focus on the best 100 universities. 
<br>
</b>

In [ ]:
sid = pd.read_csv('shanghaiData.csv')
tid = pd.read_csv("timesData.csv")
# tid.head()
# sid.head()
# sid.info()
tid['total_score']=pd.to_numeric(tid.total_score, errors='coerce')
tid=tid.iloc[0:100,:]
sid=sid.iloc[0:100,:]

merge=tid.merge(sid, on=['university_name'],how='inner')
merge['total_score_x'].corr(merge['total_score_y'])
sns.pairplot(merge, x_vars=["total_score_x"], y_vars=["total_score_y"], kind="reg", size=5)